<!DOCTYPE html>
<title>demo</title>
<script src="https://unpkg.com/seedrandom/seedrandom.js"></script>
<!--script>Math.seedrandom('a22ebc7c488a3a47');</script-->
<script src="https://unpkg.com/mockdate/src/mockdate.js"></script>
<script>MockDate.set('2000-01-01', 0);</script>
<script src="https://unpkg.com/d3/dist/d3.js"></script>
<script src="https://unpkg.com/d3fc/build/d3fc.js"></script>
<link rel="stylesheet" href="/static/index.css">
 <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
<!--d3fc-canvas use-device-pixel-ratio set-webgl-viewport></d3fc-canvas-->
<!--div id = 'small-multiples'></div-->
<d3fc-canvas use-device-pixel-ratio set-webgl-viewport id = 'small-multiples'></d3fc-canvas>
<script src="/static/index.js"></script>
