.x-axis {
  height: 1.5em;
}

/* raw and summary charts */
.chart d3fc-svg {
  display: block;
  height: 250px;
}

/* series color */
.line {
  stroke: inherit;
}

/* logger */
#small-multiples>div {
  display: inline-block;
  width: 25%;
  height: 250px;
  margin: 0;
}

/* logger */
#timeseries>div {
  display: block;
  height: 250px;
  margin: 0;
}

