.x-axis {
  height: 1.5em;
}

/* raw and summary charts */
.chart d3fc-svg {
  display: block;
  height: 250px;
}

/* multi series color */
.multi .line {
  stroke: inherit;
}

#timeseries path.line {
  stroke: blue;
}

/* logger */
#small-multiples>div {
  display: inline-block;
  width: 25%;
  height: 250px;
  margin: 0;
}

#allraw > div {
  display: block;
  height: 150px;
  width = 100%;
  margin: 0;
}

#allraw .line {
  stroke: blue;
}

/* timeseries */
#timeseries>div {
  display: block;
  height: 150px;
  margin: 0;
}

#legend {
  /*display: block;*/
  height: 36px;
  width: 414px;
  margin: 0;
}
